<app-info *ngIf='alert' [info]='info' (finished)='alertFinished()'></app-info>
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <form class="form-horizontal"
          (submit)='signUp();'>
      <h3 class="text-center">Inscription</h3>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label col-sm-2" for="username">Username:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="username" placeholder="Enter username" [(ngModel)]="username" name="username" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="password">Password:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="Enter password" [(ngModel)]="password" name="password" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="email" name="email" required>
          </div>
        </div>
        <hr>
        <div class="text-center facebook">
          <a (click)='facebookClick()'>
            <img src="http://5.196.89.92/facebook.png" style="cursor: pointer" />
          </a>
        </div>
      </div>
      <div class="panel-footer" style="line-height: 40px;">
        <div style="display: inline-block; float: right">
          <button type="submit" class="btn btn-primary">
            Sign up <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
          <button class="btn btn-default">
            Cancel
          </button>
        </div>
        <a [routerLink]="['/connexion']">
          Already have an account? Sign in here.
        </a>
      </div>
    </form>
  </div>
</div>
