/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%;
}

@media screen and (max-height: 799px) {
  body {
    background-position: top center!important;
    background-size: auto!important;
  }
}

body {
  background: url('./assets/wallpaper.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: #1B2F4A;
  background-size: cover;
}
